__pycache__/
*.py[cod]
.pytest_cache/
.pybuild/
build/
dist/
*.egg-info/
src/*.egg-info/
debian/boss-optimize/
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/debhelper-build-stamp
